accelerate==1.11.0
datasets==3.6.0
detoxify==0.5.2
ftfy==6.3.1
hf-xet==1.2.0
huggingface_hub==0.36.2
jailbreakbench @ git+https://github.com/JailbreakBench/jailbreakbench.git@23dbdf6b19650521604456229bc1d9c4156c85e
jupyter
jupyterlab
litellm==1.76.2
matplotlib==3.11.0
nlpaug==1.1.11
nltk==3.9.1
numpy==2.3.4
openai==2.14.0
pandas==3.0.1
peft==0.17.1
pyarrow==23.0.1
regex==2025.9.1
safetensors==0.6.2
scikit-learn
scipy==1.16.3
seaborn==0.13.2
sentence-splitter==1.4
sentence-transformers==5.1.2
sentencepiece==0.2.1
SciencePlots==2.2.2
tiktoken==0.11.0
tokenizers==0.22.0
torch==2.8.0
tqdm
transformers==4.57.1
trl==0.24.0
umap-learn
wandb
wordcloud==1.9.4